div.header h3.text-muted {
    text-align: center;
}

@media (min-width: 768px) {
    .container {
        /*覆盖原来的样式*/
        max-width: 10000px;
    }
}

div.container {
    width: 90%;
}

div.container div.header {
    overflow: auto;
}

div.header div.icon_container {
    width: 100px;
    margin: 0 auto;
}

div.icon_container img {
    width: 30px;
    height: 30px;
    float: left;
    margin: 5px 10px 0 0;
}

div.header h3 {
    float: left;
}

div.jumbotron {
    overflow: auto;
}

div.jumbotron form.query {
    float: left;
    width: 300px;
    margin-bottom: 50px;
    margin-right: 50px;
}

form.query label {
    float: left;
    text-align: center;
    line-height: 1.3333;
    padding: 13px 4px 4px 10px;
    color: #777;
    font-weight: 500;
}

form.query input {
    width: 20%;
    float: left;
    padding: 4px 4px 4px 10px;
    margin: 4px 10px 0 0;
    font-size: 16px;
}

form.query button {
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}

form.query textarea#query_lyric {
    width: 100%;
    padding: 10px;
}

div.jumbotron div#songs_container {
    width: 60%;
    float: left;
    padding: 10px;
    border: 1px solid rgb(169, 169, 169);
}

div#songs_container div.song_container {
    overflow: auto;
    margin-bottom: 20px;
    min-height: 250px;
}

div.song_container div.img_container {
    float: left;
    margin: 20px 40px 0 40px;
}

div.song_container div.lyric_container {
    width: 70%;
    float: left;
}

hr {
    border-top: 1px dotted #CCC;
}

hr {
    border-top: 4px double #8c8b8b;
    text-align: center;
}
hr:after {
    content: '\002665';
    display: inline-block;
    position: relative;
    top: -15px;
    padding: 0 10px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
}

@media (max-width: 1700px) {
    div.song_container div.lyric_container {
        width: 60%;
    }
}


@media (max-width: 1500px) {
    div.song_container div.lyric_container {
        width: 50%;
    }
}

div.img_container img {
    border-radius: 100px;
}

