<!DOCTYPE html>
<html lang="en">
<head>
    <title>歌词查询</title>
    <meta charset="utf-8">
    <!--保存为本地文件可以加快网站加载速度-->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    <script src="../static/jquery.min.js"></script>
    <script src="../static/index.js"></script>
    <link href="../static/index.css" rel="stylesheet">

</head>

<body>
<div class="container">
    <div class="header">
        <h3 class="text-muted">相似歌词搜索</h3>
    </div>

    <div class="jumbotron">
        <form class="query">
            <textarea id='query_lyric' name='query_lyric' cols='20' rows='20' placeholder="请输入歌词"></textarea>
            <input type="text" name="k_input" value="5"/>
            <button id="query_button" class="btn btn-lg btn-primary btn-block" type="button">查询</button>
        </form>
    </div>
</div>
</body>
</html>
