div.header h3.text-muted {
    text-align: center;
}

@media (min-width: 768px) {
    .container {
        /*覆盖原来的样式*/
        max-width: 10000px;
    }
}

div.container {
    width: 90%;
}

div.jumbotron {
    overflow: auto;
}

div.jumbotron form.query {
    float: left;
    width: 300px;
}

form.query textarea#query_lyric {
    width: 100%;
    padding: 10px;
}
